<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
{% load static %}
<html lang="ru" data-ds-theme="dark-theme">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content='yes' name='apple-mobile-web-app-capable' />
 
  <title>MetalmageAI</title>

<script defer src="/scripts/main-index-387788c0b89d2da82c32.js"></script><script defer src="/scripts/main-another-387788c0b89d2da82c32.js"></script><script defer src="/scripts/main-runtime-387788c0b89d2da82c32.js"></script><script defer src="/scripts/main-shared-387788c0b89d2da82c32.js"></script><link href="/styles/index.css" rel="stylesheet"></head>
<div id="body">
    <div id="root"></div>
</div>